@model MovieSite.ViewModels.RandomMovieViewModel
    
@if (Model.Customers.Count == 0)
{
    <text>We dont have any customers</text>
}
else
{
    <h2><strong>Customers</strong></h2>
    <ul>
        @foreach(var item in Model.Customers)
        {
            <li>@Html.ActionLink(@item.Name,"Details","Customers",new {id = @item.Id},null)</li>
        }
    </ul>
}